h1, h2, h3 {
    color: purple;
    font-family: Monotype Corsiva;
    font-size: xx-large;
}
 .red {
    color:red;
    font-size: 18pt;
    font-family:'Times New Roman', Times, serif;
}
.yellow {
    color: yellow; 
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}
.green {
color:green;
font-size: 22pt;
font-family: 'Times New Roman', Times, serif;
}
ul li::before {
    content: ' ';
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-size: contain;
}
.star::before{
    background-image: url('https://bugaga.ru/uploads/posts/2009-02/1233833169_book_01.jpg');
}