body {
  background-color: aqua;
  height: 100%;
  width: 100%;
}

.header {
  background-color: gray;
  border: 2px solid black;
  background-image: url(../koshka.jpg);
  background-size: 100% 100%;
}

.footer {
  border: 2px solid black;
  position: absolute;
  bottom: -80px;
  width: 100%;
  background-color: white;
}

.logo {
  position: relative;
  left: 20px;
  top: 5px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid black;
}
.logo img {
  width: 100px;
  height: 100px;
}

ul.nav {
  display: inline-block;
  list-style-type: none;
  position: relative;
  left: 200px;
  top: -35px;
  margin: 0px 0px 0px 0px;
}
ul.nav li {
  background-color: aliceblue;
  width: 150px;
  display: inline;
  margin-right: 120px;
  font-size: 30px;
  border: 2px solid black;
  text-align: center;
}
ul.nav li a {
  display: inline-block;
  width: 150px;
  padding: 5px;
}

h1 {
  background-color: white;
  border: 2px solid black;
  font-size: 35px;
  text-align: center;
  width: 950px;
}

div.my_pet .second_pet, div.my_pet .first_pet, form, div.text .tx {
  background-color: rgb(217, 221, 214);
}

div.text {
  display: flex;
  flex-direction: row;
}
div.text .tx {
  border: 2px solid black;
  width: 300px;
  font-size: 14px;
  height: auto;
  align-items: baseline;
  margin-right: 20px;
}

div.galerya {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
div.galerya img {
  width: 220px;
  height: 150px;
  border: 2px solid black;
  margin-right: 20px;
}

form {
  border: 2px solid black;
  margin-top: -600px;
  width: 500px;
  height: 200px;
  position: relative;
  left: 1000px;
}
form label {
  font-weight: bold;
  text-decoration: underline;
  font-size: 17.5px;
  display: inline-block;
  color: black;
  width: 200px;
}
form input[type=text] {
  margin-left: 50px;
  margin-bottom: 30px;
}
form select {
  width: 170px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  vertical-align: top;
  margin-left: 50px;
}
form button {
  width: 150px;
  border-radius: 10px;
  margin-top: 30px;
}
form button.first_button {
  margin-left: 180px;
}

.main {
  margin-bottom: 20px;
  display: block;
  height: 100%;
}

h2 {
  background-color: white;
  border: 2px solid black;
  position: absolute;
  right: 10px;
  width: 500px;
  text-align: center;
  margin-top: 10px;
}

div.my_pet {
  background-color: white;
  border: 2px solid black;
  position: absolute;
  right: 10px;
  top: 390px;
  width: 500px;
}
div.my_pet img {
  display: inline;
  margin: 5px 10px;
  width: 220px;
  height: 150px;
  border: 2px solid black;
  margin-right: 20px;
}
div.my_pet .first_pet {
  top: 5px;
  border: 2px solid black;
  width: 250px;
  position: absolute;
  right: 0px;
  height: 150px;
  margin-right: 5px;
  font-size: 17.5px;
  text-align: center;
}
div.my_pet .first_pet p {
  margin-top: 40px;
}
div.my_pet .second_pet {
  top: 172px;
  border: 2px solid black;
  width: 250px;
  position: absolute;
  right: 0px;
  height: 150px;
  margin-right: 5px;
  font-size: 17.5px;
  text-align: center;
}
div.my_pet .second_pet p {
  margin-top: 40px;
}/*# sourceMappingURL=style.css.map */